.login-form {
  height: 400px;
  margin: 0 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.login-form .input {
  height: 110px;
  width: 100%;
  font-size: 32px;
  border: 0;
  border-bottom: 1px solid rgba(106, 106, 106, 0.607);
}
.login-form .input::placeholder {
  font-size: 29px;
  letter-spacing: 3px;
  color: rgba(106, 106, 106, 0.607);
}
.login-form input:focus {
  outline: none;
}
.login-form .button {
  width: 100%;
  height: 100px;
  background-color: rgba(33, 158, 106, 0.911);
  font-size: 34px;
  color: white;
  border-radius: 50px;
  margin-top: 50px;
}
.login-form .prompt {
  font-size: 25px;
  color: #d90303;
}
.go-register {
  font-size: 25px;
  margin-top: 10px;
  text-align: center;
}
.go-register a {
  color: black;
}
